# requirements.txt

streamlit
pandas
google-generativeai
# Forçando versões mais recentes do LangChain
langchain>=0.2.0
langchain-experimental>=0.0.60
langchain-google-genai>=1.0.0
tabulate
matplotlib